*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.nova

# wordpress specific
/app/wp-config.php
/app/wp-content/uploads/
/app/wp-content/blogs.dir/
/app/wp-content/upgrade/*
/app/wp-content/backup-db/*
/app/wp-content/advanced-cache.php
/app/wp-content/wp-cache-config.php
/app/wp-content/cache/*
/app/wp-content/cache/supercache/*

# wpengine specific
/app/.smushit-status
/app/.gitattributes
/app/_wpeprivate*
/app/wp-content/object-cache.php
/app/wp-content/mu-plugins/*
/app/wp-content/mysql.sql

# wp core (as of 4.9.5)
/app/db-config.php
/app/index.php
/app/license.txt
/app/readme.html
/app/wp-activate.php
/app/wp-app.php
/app/wp-atom.php
/app/wp-blog-header.php
/app/wp-comments-post.php
/app/wp-commentsrss2.php
/app/wp-config-sample.php
/app/wp-cron.php
/app/wp-feed.php
/app/wp-links-opml.php
/app/wp-load.php
/app/wp-login.php
/app/wp-mail.php
/app/wp-rdf.php
/app/wp-rss.php
/app/wp-rss2.php
/app/wp-pass.php
/app/wp-register.php
/app/wp-settings.php
/app/wp-signup.php
/app/wp-trackback.php
/app/xmlrpc.php
/app/wp-admin
/app/wp-includes
/app/wp-content/index.php
/app/wp-content/themes/twentyten
/app/wp-content/themes/twentyeleven
/app/wp-content/themes/twentytwelve
/app/wp-content/themes/twentythirteen
/app/wp-content/themes/twentyfourteen
/app/wp-content/themes/twentyfifteen
/app/wp-content/themes/twentysixteen
/app/wp-content/themes/twentyseventeen
/app/wp-content/themes/twentyeighteen
/app/wp-content/themes/twentynineteen
/app/wp-content/themes/twentytwenty
/app/wp-content/themes/twentytwentyone
/app/wp-content/themes/index.php
/app/wp-content/plugins/index.php
/app/wp-content/plugins/akismet*

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.sql
