/* ---------------------------------------------------------------------
 Fonts
------------------------------------------------------------------------ */
@font-face {
    font-family: "Bodoni72-Book";
    src: url("../fonts/bodoni72/book.woff2") format("woff2"),
         url('../fonts/bodoni72/book.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FreightSansPro-Medium";
    src: url("../fonts/freight-sans-pro/medium.woff2") format("woff2"),
         url('../fonts/freight-sans-pro/medium.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FreightSansPro-SemiBold";
    src: url("../fonts/freight-sans-pro/semibold.woff2") format("woff2"),
         url('../fonts/freight-sans-pro/semibold.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important;
    height: auto;
}

/* ---------------------------------------------------------------------
 HTML5 Elements
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template {
    display: none;
}

/* ---------------------------------------------------------------------
 Variables
------------------------------------------------------------------------ */
:root {
    --color-transparent: rgba(0,0,0,0);
    --color-white: #ffffff;
    --color-black: #000000;
    --color-charcoal: #0a0a0a;
    --color-alert: #ff0000;
    --color-alert-bg: #fff9f9;
    --color-brand-peacock: #1b8172;
    --color-brand-peacock-dark: #32645c;
    --color-brand-peacock-darkest: #254544;
    --color-brand-light: #d9d9d9;
    --color-brand-grey: #8c9093;
    --color-brand-dark-grey: #606566;
    --color-brand-gray: var(--color-brand-grey); /* Just in case */
    --color-brand-dark-gray: var(--color-brand-dark-grey); /* Just in case */
    --color-brand-dark: #001816;
    --color-brand-light-gradLight: #f2f2f2;
    --color-brand-light-gradDark: #bfbfbf;
    --color-brand-peacock-gradLight: #32645c;
    --color-brand-peacock-gradDark: #254544;
    --color-brand-peacock-dark-gradLight: #254544;
    --color-brand-peacock-dark-gradDark: #010D00;
    --fontFamily-sans: "FreightSansPro-Medium", Helvetica, Arial, sans-serif;
    --fontFamily-sans-bold: "FreightSansPro-SemiBold", Helvetica, Arial, sans-serif;
    --fontFamily-serif: "Bodoni72-Book", Georgia, Times, Times New Roman, serif;
    --fontSize-xxs: 14px;
    --fontSize-xs: 15px;
    --fontSize-sm: 16px;
    --fontSize-md: 18px;
    --fontSize-lg: 20px;
    --fontSize-xl: 24px;
    --fontSize-xxl: 32px;
    --fontSize-xxxl: 36px;
    --fontSize-mega: 72px;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
html {
    background-color: var(--color-charcoal);
}

body {
    min-height: 100vh;
    background-color: var(--color-white);
    color: var(--color-brand-dark);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-md);
    line-height: 1.55;
    font-style: normal;
    font-weight: normal;
    overflow-y: scroll;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.isLocked {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: var(--color-transparent);
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 Helper - isVisuallyHidden
------------------------------------------------------------------------ */
.isVisuallyHidden {
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    clip-path: inset(100%)!important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
}

/* ---------------------------------------------------------------------
 Helper - Display Types
------------------------------------------------------------------------ */
.isBlock {
    display: block;
}

.isInlineBlock {
    display: inline-block;
}

.isInline {
    display: inline;
}

/* ---------------------------------------------------------------------
 Helper - Break
------------------------------------------------------------------------ */
@media (min-width: 780px) {
    .break--whenSmall {
        display: none;
    }
}

/* ---------------------------------------------------------------------
 Helper - Video
------------------------------------------------------------------------ */
.hasVideo {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.hasVideo iframe,
.hasVideo object,
.hasVideo embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---------------------------------------------------------------------
 Landmark - Site (basically a sticky footer and sticky nav)
------------------------------------------------------------------------ */
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site__masthead {
    position: sticky;
    top: 0;
    z-index: 99999;
}

.site__main {
    flex: 1;
    border-top: 10px solid var(--color-brand-peacock-dark);
}

.site__main--fullscreen {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.site__main__inner {
    flex: 1;
    text-align: center;
}

/* ---------------------------------------------------------------------
 Landmark - Masthead
------------------------------------------------------------------------ */
.masthead__brand > a {
    display: block;
}

.masthead__brand > a > img {
    display: block;
}

@media (max-width: 779px) {
    .masthead {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .masthead__brand {
        width: 208px; /* calculated height of contained image is 48 to match nav toggle button */
    }

    .masthead__brand > a {
        padding: 20px 0;
    }

    .masthead__nav {
        position: fixed;
        top: 28px;
        left: 0;
        right: 0;
        height: 0;
        padding: 20px;
        background-color: var(--color-brand-light);
        background-image: linear-gradient(90deg, var(--color-brand-light-gradLight) 0%, var(--color-brand-light-gradDark) 100%);
        overflow: hidden;
        visibility: hidden;
        transition: height 1s cubic-bezier(0.19, 1, 0.22, 1), 1s top, 1.5s visibility;
        z-index: -1;
        display: flex;
        flex-flow: column nowrap;
    }

    .masthead__nav.isVisible {
        top: 48px;
        height: calc(100% - 88px); /* top + p-bot + p-top */
        overflow: auto;
        visibility: visible;
    }

    .masthead__nav__primary {
        flex: 1;
    }

    .masthead__nav__primary a {
        display: block;

        /* actually useful once displayed */
        margin: 0 -20px; /* undo wrapper */
        padding: 0 20px; /* redo wrapper */
        height: 80px;
        line-height: 80px;
        color: var(--color-brand-dark);
        font-family: var(--fontFamily-serif);
        font-size: var(--fontSize-xxl);
    }

    .masthead__nav__primary a:hover,
    .masthead__nav__primary a:focus {
        color: var(--color-brand-peacock);
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 20px;
    }

    .masthead__nav__primary .current-menu-item a {
        color: var(--color-brand-peacock);
    }

    .masthead__nav__secondary {
        display: none;
    }

    .masthead__nav__social {
        padding: 10px 0;
    }

    .masthead__nav__social__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    .masthead__nav__social__list > li {
        padding: 0 5px;
    }

    .masthead__nav__legal {
        text-align: center;
    }

    /* transition into view */
    .masthead__nav__primary a,
    .masthead__nav__social a,
    .masthead__nav__legal {
        opacity: 0;
        transition: opacity 0.75s, background-color 0.2s;
    }

    .masthead__nav.isVisible .masthead__nav__primary a,
    .masthead__nav.isVisible .masthead__nav__social a,
    .masthead__nav.isVisible .masthead__nav__legal {
        opacity: 1;
    }

    /* toggle Styles */
    .masthead__toggle {
        width: calc(100% - 240px);
    }

    .masthead__toggle__icon {
        position: absolute;
        top: 0;
        right: -20px; /* undo wrapp padding */
        display: block;
        height: 68px;
        width: 48px;
    }

    .masthead__toggle__icon__bar {
        position: absolute;
        left: 10px;
        right: 20px;
        height: 1px;
        background-color: var(--color-brand-light);
        transition: transform 0.2s linear;
    }

    .masthead__toggle__icon__bar--top {
        top: 30px;
    }

    .masthead__toggle__icon__bar--bottom {
        bottom: 30px;
    }

    .masthead__toggle__icon[aria-expanded=true] .masthead__toggle__icon__bar--top {
        transform: rotate(45deg) translateY(5px);
    }

    .masthead__toggle__icon[aria-expanded=true] .masthead__toggle__icon__bar--bottom {
        transform: rotate(-45deg) translateY(-5px);
    }

}

@media (min-width: 780px) {
    .masthead {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 35px 0 20px 0;
        color: var(--color-brand-light);
    }

    .masthead__brand{
        width: 208px; /*220 later*/
    }

    .masthead__toggle,
    .masthead__nav__social,
    .masthead__nav__legal {
        display: none;
    }

    .masthead__nav {
        width: calc(100% - 208px);
    }

    .masthead__nav__primary__list {
        padding: 0 15px 0 30px;
    }

    .masthead__nav__primary__list li {
        display: inline-block;
        padding: 0 5px;
    }

    .masthead__nav__primary__list a {
        display: block;
        padding: 0 10px;
        height: 28px;
        line-height: 25px;
        font-family: var(--fontFamily-serif);
        font-size: var(--fontSize-md);
    }

    .masthead__nav__primary__list .isVisibleForMobile a {
        display: none;
    }

    .masthead__nav__primary__list .current-menu-item a {
        box-shadow: 0 0 0 2px var(--color-brand-peacock-dark);
    }

    .masthead__nav__secondary {
        position: absolute;
        top: 35px; /* magic number - matches top padding of masthead */
        right: -20px; /* undo wrapper */
        display: block;
        height: 28px;
    }

    .masthead__nav__secondary__list {
        line-height: 1;
    }

    .masthead__nav__secondary__list li {
        display: inline-block;
    }

    .masthead__nav__secondary__list a {
        display: block;
        height: 28px;
        line-height: 28px;
        font-family: var(--fontFamily-sans-bold);
        font-size: var(--fontSize-xs);
    }

    .masthead__nav__secondary__list li.portalLink a {
        margin-left: 20px;
        padding: 2px 16px;
        height: 24px;
        line-height: 24px;
        background-color: var(--color-brand-light);
        color: var(--color-brand-dark);
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .masthead__nav__secondary__list li:only-child {
        padding-right: 20px;
    }
}

@media (min-width: 860px) {
    .masthead__brand{
        width: 260px;
    }

    .masthead__toggle {
        display: none;
    }

    .masthead__nav {
        width: calc(100% - 260px);
    }

    .masthead__nav__primary__list a {
        padding: 0 12px;
        height: 35px;
        line-height: 31px;
        font-size: var(--fontSize-lg);
    }

    .masthead__nav__secondary {
        top: 35px; /* magic number - matches top padding of masthead */
        height: 35px;
    }

    .masthead__nav__secondary__list a {
        height: 35px;
        line-height: 35px;
    }
}

@media (min-width: 1000px) {
    .masthead__nav__primary__list {
        padding: 0 15px 0 60px;
    }
}

@media (min-width: 1170px) {
    .masthead__nav__secondary {
        right: 0;
    }
}

/* ---------------------------------------------------------------------
 Landmark - Footer
------------------------------------------------------------------------ */
.footer {
    padding: 20px 0;
    color: var(--color-brand-light);
}

.footer__social {
    padding: 20px 0;
}

.footer__social__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

.footer__social__list li {
    padding: 0 10px;
}

.footer__legal {
    text-align: center;
}

/* ---------------------------------------------------------------------
 Layout - Tier
------------------------------------------------------------------------ */
.tier {}

.tier--white {
    background-color: var(--color-white);
}

.tier--main {
    position: relative;
    padding: 20px 0;
}

.tier--main .tier__ornament {
    position: absolute;
    left: 0;
    right: 0;
    height: 380px;
    background-color: var(--color-brand-peacock-gradLight);
    background-image: linear-gradient(90deg, var(--color-brand-peacock-gradLight) 0%, var(--color-brand-peacock-gradDark) 100%);
}

.tier--main .tier__ornament--top {
    top: 0;
}

.tier--main .tier__ornament--light {
    background-color: var(--color-brand-light-gradLight);
    background-image: linear-gradient(90deg, var(--color-brand-light-gradLight) 0%, var(--color-brand-light-gradDark) 100%);
}

.tier--main .tier__ornament--bottom {
    height: 200px;
    bottom: 0;
    background-image: none;
    background-color: var(--color-brand-peacock-dark);
}

.tier--main .tier__bd {
    background-color: var(--color-white);
}

.tier--peacock-gradient {
    background-color: var(--color-brand-peacock-gradLight);
    background-image: linear-gradient(90deg, var(--color-brand-peacock-gradLight) 0%, var(--color-brand-peacock-gradDark) 100%);
}

.tier--peacock-dark {
    background-color: var(--color-brand-peacock-dark);
}

.tier--peacock-dark-gradient {
    background-color: var(--color-brand-peacock-dark-gradLight);
    background-image: linear-gradient(110deg, var(--color-brand-peacock-dark-gradLight) 0%, var(--color-brand-peacock-dark-gradLight) 30%, var(--color-brand-peacock-dark-gradDark) 100%);
}

.tier--peacock-dark-media {
    /* background-image supplied inline */
    background-color: var(--color-brand-peacock-dark-gradLight); /* no bg image? text is still legible! */
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
}

/* ---------------------------------------------------------------------
 Layout - Wrapper
------------------------------------------------------------------------ */
.wrapper {
    box-sizing: border-box;
    min-width: 320px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ---------------------------------------------------------------------
 Component - Hero
------------------------------------------------------------------------ */
.hero {
    position: relative;
    padding: 50px 0;
    color: var(--color-brand-light);
    text-align: center;
}

.hero--hasTitle {
    padding-top: 100px;
}

.hero__title {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

.hero__title__inner {
    padding-bottom: 20px; /* push pseudo element */
}

.hero__title::after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 50px;
    text-align: center;
    border-bottom: 1.5px solid var(--color-brand-grey);
}

.hero__bd {
    max-width: 300px;
    margin: 0 auto;
    padding: 30px 0;
}

@media (min-width: 860px) {
    .hero {
        padding: 120px 0;
    }

    .hero--hasTitle {
        padding-top: 120px;
    }

    .hero__bd {
        max-width: 540px;
        padding: 40px 0;
    }
}

/* ---------------------------------------------------------------------
 Component - Section
------------------------------------------------------------------------ */
.section {
    padding: 30px 0;
}

.section__hd {
    margin-bottom: 30px;
}

.section__bd {
    margin-bottom: 20px;
}

.section__bd--noPush {
    margin-bottom: 0;
}

.section__cards {
    margin: 0 -20px; /* undo wrapper to fake offscreen stuff */
}

.section__ft {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.section::after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 50px;
    text-align: center;
    border-bottom: 1.5px solid var(--color-brand-peacock-dark);
}

.section--noDivider .section__bd:not(.section__bd--noPush) {
    margin-bottom: 40px !important;
}

.section--noDivider::after {
    content: none !important;
    display: none !important;
}

.section--contactForm {
    padding: 20px 0;
}

@media (min-width: 1170px) {
    .section__cards {
        margin: 0 10px;
    }

    .section__ft {
        padding-top: 40px;
        text-align: center;
    }
}

/* configurable section colors for components */
.section--isTransparent {
    background-color: var(--color-transparent);
}

.section--isWhite {
    background-color: var(--color-white);
}

.section--isGreen {
    background-color: var(--color-brand-peacock);
}

.section--isGreenGradient {
    background-color: var(--color-brand-peacock-dark-gradLight);
    background-image: linear-gradient(110deg, var(--color-brand-peacock-dark-gradLight) 0%, var(--color-brand-peacock-dark-gradLight) 30%, var(--color-brand-peacock-dark-gradDark) 100%);
}

.section--isLightGradient {
    background-color: var(--color-brand-light-gradDark);
    background-image: linear-gradient(90deg, var(--color-brand-light-gradLight) 0%, var(--color-brand-light-gradDark) 100%);
}

.section--isLightGradientFadeToWhite {
    background-color: var(--color-brand-light-gradDark);
    background-image:
        linear-gradient(0deg, var(--color-white) 0%, var(--color-white) 15%, var(--color-transparent) 100%),
        linear-gradient(90deg, var(--color-brand-light-gradLight) 0%, var(--color-brand-light-gradDark) 100%);
}



/* ---------------------------------------------------------------------
 Component - Feature
------------------------------------------------------------------------ */
.feature {
    padding: 0 20px; /* keep thing away from the container edge */
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.feature--isSpacious {
    padding: 20px 30px;
}

.feature__hd {
    margin-bottom: 20px;
}

.feature__ft {
    padding-top: 30px;
}

@media (min-width: 860px) {
    .feature {
        padding: 0; /* rely on max-width */
    }

    .feature--isSpacious {
        padding: 20px 0;
    }
}

/* ---------------------------------------------------------------------
 Component - Slab
------------------------------------------------------------------------ */
.slab {
    position: relative;
    z-index: 20;
}

.slab--isLight {
    background-color: var(--color-brand-light);
    background-image: linear-gradient(90deg, var(--color-brand-light-gradLight) 0%, var(--color-brand-light-gradDark) 100%);
}

.slab__ornament {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 180px; /* matches height of tier__ornament--bottom minus tier--main padding bottom */
    background-color: var(--color-brand-peacock-dark); /* matches color of tier--peacock-dark */
}

/* ---------------------------------------------------------------------
 Component - Placard
------------------------------------------------------------------------ */
.placard {
    padding: 40px;
}

.placard__hd {
    margin-bottom: 40px;
}

/* ---------------------------------------------------------------------
 Component - Collection
------------------------------------------------------------------------ */
.collection {
    position: relative; /* for shaders */
    overflow: hidden;
    height: 400px;
}

.collection__stage {
    overflow-x: scroll;
    overscroll-behavior-x: contain;
}

.collection__stage__list {
    display: inline-flex;
    padding: 0 20px; /* add back the wrapper removed in .section__cards */
    vertical-align: top;
}

.collection__stage__list__item {
    height: 430px; /* hide the scrollbar - bigger than .collection */
    padding-right: 20px;
}

.collection__stage__list__item:first-child {
    padding-left: 20px;
}

@media (min-width: 860px) {
    .collection {
        height: 460px;
    }

    .collection__stage__list__item {
        height: 470px;
    }
}

@media (min-width: 1170px) {
    .collection__stage {
        padding-top: 20px;
    }

    .collection__stage::before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 30px;
        background-image: linear-gradient(to right, rgba(0,0,0,0.15), transparent);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .collection__stage::after {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 30px;
        background-image: linear-gradient(to left, rgba(0,0,0,0.15), transparent);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .collection__stage__list {
        padding: 0; /* reset */
    }
}

/* ---------------------------------------------------------------------
 Component - Card
------------------------------------------------------------------------ */
.card {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    width: 260px;
    height: 365px;
    overflow: hidden; /* in case content is larger than dimensions */
    background-image: linear-gradient(90deg, var(--color-brand-light-gradLight) 0%, var(--color-brand-light-gradDark) 80%, var(--color-brand-light-gradDark) 100%);
    box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.3);
}

.card--pro {
    padding-bottom: 20px;
}

.card__label {
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: var(--color-brand-dark);
    border-left: 20px solid var(--color-brand-grey);
    border-right: 50px solid var(--color-brand-dark);
    text-indent: 30px; /* equalize border treatments */
}

.card__label::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -44px;
    border-top: 15px solid transparent;
    border-left: 15px solid var(--color-brand-light-gradDark);
    border-bottom: 15px solid transparent;
}

/* completed variation */
.card--completed .card__label {
    background-color: var(--color-brand-peacock-darkest);
    color: var(--color-brand-light);
    border-left-color: var(--color-brand-peacock-dark);
}

.card--completed .card__label::before {
    border-left-color: var(--color-brand-peacock-darkest);
}

/* open variation */
.card--open .card__label {
    background-color: var(--color-brand-peacock);
    color: var(--color-white);
    border-left-color: var(--color-brand-peacock-dark);
}

.card--open .card__label::before {
    border-left-color: var(--color-brand-peacock);
}

/* card guts */
.card__bd {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    flex: 1 1 auto;
    padding: 20px;
    background-color: var(--color-white);
}

.card--pro .card__bd {
    justify-content: flex-end;
}

.card__bd--dark {
    background-color: var(--color-brand-dark);
    color: var(--color-brand-light);
}

.card__bd--center {
    text-align: center;
}

.card__bd_content__hd {
    margin-bottom: 10px;
}

@media (min-width: 860px) {
    .card {
        width: 320px;
        height: 420px;
    }

    .card__bd_content {
        padding: 0 20px;
    }
}

/* ---------------------------------------------------------------------
 Component - Yearbook
------------------------------------------------------------------------ */
.yearbook {
    padding-bottom: 20px;
}

.yearbook__item {
    padding: 20px 0;
}

/* ---------------------------------------------------------------------
 Component - Frame
------------------------------------------------------------------------ */
.frame__media {
    padding: 20px 20px 0 20px;
    background-color: var(--color-brand-light-gradLight);
    background-image: linear-gradient(to right, var(--color-brand-light-gradDark), var(--color-brand-light-gradLight));
    text-align: center;
}

.frame__media > img {
    display: inline-block;
}

.frame__content__hd {
    padding: 10px 20px 4px 20px;
    background-color: var(--color-brand-light);
    background-image: linear-gradient(to right, var(--color-brand-light-gradDark), var(--color-brand-light-gradLight));
    text-align: center;
}

.frame__content__subhd {
    padding: 0 20px 20px 20px;
    background-color: var(--color-brand-light);
    background-image: linear-gradient(to right, var(--color-brand-light-gradDark), var(--color-brand-light-gradLight));
    text-align: center;
    border-bottom: 20px solid;
    border-image: linear-gradient(to left, var(--color-brand-peacock-dark) 50%, var(--color-brand-dark) 50%) 2;
}

.frame__content__bd {
    padding: 20px 5px 0 5px;
}

@media (min-width: 860px) {
    .frame {
        position: relative;
        padding: 20px;
    }

    .frame::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 140px;
        background-color: var(--color-brand-light);
        background-image: linear-gradient(to right, var(--color-brand-light-gradDark), var(--color-brand-light-gradLight));
        border-bottom: 20px solid;
        border-image: linear-gradient(to right, var(--color-brand-dark) calc(calc(calc(100% - 320px) / 2) + 320px), var(--color-brand-peacock-dark) calc(calc(calc(100% - 320px) / 2) + 320px)) 2;
    }

    .frame__media {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 300px;
        padding: 0;
        background-color: transparent;
        background-image: none;
        text-align: initial;
        z-index: 1;
    }

    .frame__content {
        position: relative;
        padding: 0 20px 0 330px;
        z-index: 1;
    }

    .frame__content__hd {
        padding: 30px 0 0 0;
        background-color: transparent;
        background-image: none;
        text-align: center;
    }

    .frame__content__subhd {
        padding: 0 0 80px 0;
        background-color: transparent;
        background-image: none;
        text-align: center;
        border-bottom: none;
        border-image: none;
    }

    .frame__content__bd {
        padding: 0;
    }
}

@media (min-width: 1000px) {
    .frame::after {
        border-image: linear-gradient(to right, var(--color-brand-dark) calc(calc(calc(100% - 420px) / 2) + 420px), var(--color-brand-peacock-dark) calc(calc(calc(100% - 420px) / 2) + 420px)) 2;
    }

    .frame__media {
        width: 400px;
    }

    .frame__content {
        padding-left: 430px;
    }
}

/* ---------------------------------------------------------------------
 Component - Note
------------------------------------------------------------------------ */
.note {
    display: flex;
    flex-flow: column nowrap;
}

.note__hd {
    order: 2;
}

.note__subhd {
    order: 3;
    margin-bottom: 30px;
}

.note__meta {
    order: 1;
    margin-bottom: 10px;
}

.note__bd {
    order: 4;
}

/* ---------------------------------------------------------------------
 Component - Title
------------------------------------------------------------------------ */
.title {
    position: relative;
    height: 40px;
    line-height: 35px;
    text-align: center;
}

.title::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    -webkit-mask-image: url("../images/bg-title.svg");
    -webkit-mask-position: center center;
    -webkit-mask-size: auto 40px;
    mask-image: url("../images/bg-title.svg");
    mask-position: center center;
    mask-size: auto 40px;
    background-color: var(--color-brand-dark);
}

.title--inverted::before {
    background-color: var(--color-brand-light);
}

/* ---------------------------------------------------------------------
 Component - Tag
------------------------------------------------------------------------ */
.tag {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.tag--funded {
    background-color: var(--color-brand-grey);
    color: var(--color-brand-dark);
}

.tag--completed {
    background-color: var(--color-brand-peacock-dark);
    background-image: linear-gradient(to right, var(--color-brand-peacock-gradLight), var(--color-brand-peacock-gradDark));
    color: var(--color-brand-light);
}

.tag--open {
    background-color: var(--color-brand-peacock);
    color: var(--color-white);
}

/* ---------------------------------------------------------------------
 Component - Forms
------------------------------------------------------------------------ */
.form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form__intro {
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 860px) {
    .form {
        padding: 30px;
    }

    .form__intro {
        padding: 0 80px;
        margin-bottom: 30px
    }
}

/* ---------------------------------------------------------------------
 Content - Button
------------------------------------------------------------------------ */
.btn {
    all: unset;
    position: relative;
    display: inline-block;
    height: 34px;
    padding: 0 30px 0 14px;
    border-color: var(--color-brand-dark);
    border-style: solid;
    border-width: 2px 20px;
    background-color: var(--color-brand-peacock-dark);
    color: var(--color-brand-light);
    font-family: var(--fontFamily-sans-bold);
    font-size: 15px;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.24s ease-in-out;
}

.btn::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -18px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-right: 18px solid var(--color-brand-peacock-dark);
    border-bottom: 17px solid transparent;
    transition: all 0.24s ease-in-out;
}

.btn::after {
    content: " ";
    position: absolute;
    top: 0;
    right: -18px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-left: 18px solid var(--color-brand-peacock-dark);
    border-bottom: 17px solid transparent;
    transition: all 0.24s ease-in-out;
}

.btn__icon {
    position: absolute;
    top: calc(50% - 8px);
    right: 0;
    height: 16px;
    width: 16px;
    -webkit-mask-image: url("../images/arrow-right.svg");
    mask-image: url("../images/arrow-right.svg");
    background-color: var(--color-brand-light);
}

.btn--light {
    background-color: var(--color-brand-light);
    color: var(--color-brand-dark);
    border-color: var(--color-brand-peacock-dark);
}

.btn--light::before {
    border-right-color: var(--color-brand-light);
}

.btn--light::after {
    border-left-color: var(--color-brand-light);
}

.btn--light .btn__icon {
    background-color: var(--color-brand-dark);
}

.btn:hover {
    background-color: var(--color-brand-peacock);
}

.btn:hover::before {
    border-right-color: var(--color-brand-peacock);
}

.btn:hover::after {
    border-left-color: var(--color-brand-peacock);
}

.btn--light:hover {
    background-color: var(--color-white);
}

.btn--light:hover::before {
    border-right-color: var(--color-white);
}

.btn--light:hover::after {
    border-left-color: var(--color-white);
}

/* ---------------------------------------------------------------------
 Content - Social Icon
------------------------------------------------------------------------ */
.socialIcon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(90deg, var(--color-brand-peacock-gradLight) 0%, var(--color-brand-peacock-gradDark) 100%);
    -webkit-mask-position: center center;
    -webkit-mask-size: 40px 40px;
    mask-position: center center;
    mask-size: 40px 40px;
}

.socialIcon--isLight {
    background-image: linear-gradient(90deg, var(--color-brand-light-gradLight) 0%, var(--color-brand-light-gradDark) 100%);
}

.socialIcon--linkedin {
    -webkit-mask-image: url("../images/icon-linkedin.svg");
    mask-image: url("../images/icon-linkedin.svg");
}

.socialIcon--facebook {
    -webkit-mask-image: url("../images/icon-facebook.svg");
    mask-image: url("../images/icon-facebook.svg");
}

.socialIcon--twitter {
    -webkit-mask-image: url("../images/icon-twitter.svg");
    mask-image: url("../images/icon-twitter.svg");
}

a.hasSocialIcon {
    display: inline-block;
    width: 40px;
    height: 40px;
}

a.hasSocialIcon:hover .socialIcon {
    background-image: linear-gradient(90deg, var(--color-brand-peacock) 0%, var(--color-brand-peacock) 100%);
}

/* ---------------------------------------------------------------------
 Content - Text
------------------------------------------------------------------------ */
.txt {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.55;
    font-style: normal;
    font-weight: normal;
    text-transform: inherit;
}

/* Treatments */
.txt--hero {
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-xxxl);
    line-height: 1.1;
}

.txt--heroSub {
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-md);
    line-height: 1.3;
}

.txt--title {
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-lg);
    line-height: inherit; /* set in .title */
    color: var(--color-brand-peacock-dark);
}

.txt--hdg {
    font-family: var(--fontFamily-sans-bold);
    font-size: var(--fontSize-md);
    line-height: 1.3;
    color: var(--color-brand-peacock);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.txt--card-hdg {
    font-family: var(--fontFamily-sans-bold);
    font-size: var(--fontSize-lg);
    line-height: 1.3;
    color: var(--color-brand-dark);
}

.txt--card-hdg2 {
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-sm);
    line-height: 1.3;
    color: var(--color-brand-dark-grey);
}

.txt--label {
    font-family: var(--fontFamily-sans-bold);
    font-size: var(--fontSize-sm);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: inherit; /* set by container */
}

.txt--body {
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-md);
    line-height: 1.3;
}

.txt--body2 {
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-sm);
    line-height: 1.3;
}

.txt--legal {
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-xxs);
}

@media (min-width: 860px) {
    .txt--hero {
        font-family: var(--fontFamily-serif);
        font-size: var(--fontSize-mega);
    }

    .txt--heroSub {
        font-size: var(--fontSize-lg);
    }

    .txt--hdg {
        font-size: var(--fontSize-xl);
    }

    .txt--card-hdg {
        font-size: var(--fontSize-xl);
    }

    .txt--card-hdg2 {
        font-size: var(--fontSize-md);
    }

    .txt--body {
        font-size: var(--fontSize-lg);
        line-height: 1.5;
    }

    .txt--legal {
        font-size: var(--fontSize-xs);
    }

}

/* Mix'n'Match */
.txt--color-white { color: var(--color-white); }
.txt--color-black { color: var(--color-black); }
.txt--color-brand-peacock { color: var(--color-brand-peacock); }
.txt--color-brand-light { color: var(--color-brand-light); }
.txt--color-brand-grey { color: var(--color-brand-grey); }
.txt--color-brand-dark { color: var(--color-brand-dark); }

.txt--family-serif { font-family: var(--fontFamily-serif); }
.txt--family-sans { font-family: var(--fontFamily-sans); }

.txt--size-xxs { font-size: var(--fontSize-xxs); }
.txt--size-xs { font-size: var(--fontSize-xs); }
.txt--size-sm { font-size: var(--fontSize-sm); }
.txt--size-md { font-size: var(--fontSize-md); }
.txt--size-lg { font-size: var(--fontSize-lg); }
.txt--size-xl { font-size: var(--fontSize-xl); }
.txt--size-xxl { font-size: var(--fontSize-xl); }

.txt--underline { text-decoration: underline; }
.txt--bold { font-weight: bold; }
.txt--italic { font-style: italic; }
.txt--center { text-align: center; }
.txt--upper { text-transform: uppercase; }

.txt--truncated {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* ---------------------------------------------------------------------
 Gravity Forms
------------------------------------------------------------------------ */
.gfield {
    padding-bottom: 16px;
}

.gfield_label {
    display: inline-block;
    width: 100%;
    padding-bottom: 4px;
}

.gform_fields input[type=text],
.gform_fields input[type=email],
.gform_fields input[type=tel] {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--color-brand-grey);
    background-color: var(--color-white);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-sm);
    line-height: normal;
    font-weight: normal;
    color: var(--color-brand-dark);
}

.gform_fields textarea {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    padding: 8px 12px;
    border: 1px solid var(--color-brand-grey);
    background-color: var(--color-white);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-sm);
    line-height: normal;
    font-weight: normal;
    color: var(--color-brand-dark);
}

.gfield_required {
    color: var(--color-alert);
    padding-left: 2px;
}

.gform_footer {
    padding: 20px 0 10px 0;
    text-align: center;
}

.gform_submission_error.hide_summary {
    display: none;
}

.gform_wrapper .gfield_validation_message {
    padding: 3px 0 6px 0;
    color: var(--color-alert);
}

.gform_wrapper .instruction.validation_message {
    display: none;
}

.gform_fields input[type=text][aria-invalid=true],
.gform_fields input[type=email][aria-invalid=true],
.gform_fields input[type=tel][aria-invalid=true],
.gform_fields textarea[aria-invalid=true] {
    border-color: var(--color-alert);
}

.gform_footer .btn {
    vertical-align: middle;
}

.gform_ajax_spinner {
    box-sizing: border-box;
    margin-left: 10px;
    border: 3px dotted var(--color-brand-peacock);
    animation: spinner 1.1s infinite linear;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
