/* ---------------------------------------------------------------------
 Fonts
------------------------------------------------------------------------ */
@font-face {
    font-family: "Bodoni72";
    src: url("../fonts/bodoni72/bodoni72-book.woff2") format("woff2"),
         url('../fonts/bodoni72/bodoni72-book.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important;
    height: auto;
}

/* ---------------------------------------------------------------------
 HTML5 Elements
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template {
    display: none;
}

/* ---------------------------------------------------------------------
 Variables
------------------------------------------------------------------------ */
:root {
    --color-transparent: rgba(0,0,0,0);
    --color-white: #ffffff;
    --color-black: #000000;
    --color-brand-peacock: #273c40;
    --color-brand-light: #d9d9d9;
    --color-brand-dark: #030d01;
    --fontFamily-sans: "Freight Sans Pro", Helvetica, Arial, sans-serif;
    --fontFamily-serif: "Bodoni72", Georgia, Times, Times New Roman, serif;
    --fontSize-xs: 14px;
    --fontSize-sm: 16px;
    --fontSize-md: 18px;
    --fontSize-lg: 21px;
    --fontSize-xl: 24px;
    --fontSize-xxl: 36px;
    --lineHeight-one: 1;
    --lineHeight-std: 1.5;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
html {
    background-color: var(--color-brand-peacock);
}

body {
    min-height: 100vh;
    background-color: var(--color-white);
    color: var(--color-brand-dark);
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-md);
    line-height: var(--lineHeight-std);
    font-style: normal;
    font-weight: normal;
    overflow-y: scroll;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: var(--color-transparent);
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 Helper - isVisuallyHidden
------------------------------------------------------------------------ */
.isVisuallyHidden {
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    clip-path: inset(100%)!important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
}

/* ---------------------------------------------------------------------
 Helper - Display Types
------------------------------------------------------------------------ */
.isBlock {
    display: block;
}

.isInlineBlock {
    display: inline-block;
}

.isInline {
    display: inline;
}

/* ---------------------------------------------------------------------
 Helper - Video
------------------------------------------------------------------------ */
.hasVideo {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.hasVideo iframe,
.hasVideo object,
.hasVideo embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---------------------------------------------------------------------
 Landmark - Masthead
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Landmark - Navigation
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Landmark - Main
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Landmark - Footer
------------------------------------------------------------------------ */
.footer {
    padding: 20px;
}

.footer__legal {
    text-align: center;
}

/* ---------------------------------------------------------------------
 Layout - Site (basically a sticky footer)
------------------------------------------------------------------------ */
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site__main {
    flex: 1;
}

/* ---------------------------------------------------------------------
 Layout - Tier
------------------------------------------------------------------------ */
.tier {
    min-height: 20px;
}

.tier--peacock-dark-gradient {
    background-color: var(--color-brand-peacock);
    background-image: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
    color: var(--color-white);
}


/* ---------------------------------------------------------------------
 Layout - Wrapper
------------------------------------------------------------------------ */
.wrapper {
    box-sizing: border-box;
    min-width: 320px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ---------------------------------------------------------------------
 Content - Text
------------------------------------------------------------------------ */
.txt {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: var(--lineHeight-std);
    font-style: normal;
    font-weight: normal;
    text-transform: inherit;
}

/* Mix'n'Match */
.txt--color-white { color: var(--color-white); }
.txt--color-black { color: var(--color-black); }
.txt--color-brand-peacock { color: var(--color-brand-peacock); }
.txt--color-brand-light { color: var(--color-brand-light); }
.txt--color-brand-dark { color: var(--color-brand-dark); }

.txt--family-serif { font-family: var(--fontFamily-serif); }
.txt--family-sans { font-family: var(--fontFamily-sans); }

.txt--size-xs { font-size: var(--fontSize-xs); }
.txt--size-sm { font-size: var(--fontSize-sm); }
.txt--size-md { font-size: var(--fontSize-md); }
.txt--size-lg { font-size: var(--fontSize-lg); }
.txt--size-xl { font-size: var(--fontSize-xl); }
.txt--size-xxl { font-size: var(--fontSize-xl); }

.txt--lh-one { line-height: var(--lineHeight-one); }
.txt--lh-std { line-height: var(--lineHeight-std); }

.txt--underline { text-decoration: underline; }
.txt--bold { font-weight: bold; }
.txt--italic { font-style: italic; }
.txt--center { text-align: center; }
.txt--upper { text-transform: uppercase; }
