/* ---------------------------------------------------------------------
 Fonts
------------------------------------------------------------------------ */
@font-face {
    font-family: "Bodoni72-Book";
    src: url("../fonts/bodoni72/book.woff2") format("woff2"),
         url('../fonts/bodoni72/book.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FreightSansPro-Medium";
    src: url("../fonts/freight-sans-pro/medium.woff2") format("woff2"),
         url('../fonts/freight-sans-pro/medium.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FreightSansPro-SemiBold";
    src: url("../fonts/freight-sans-pro/semibold.woff2") format("woff2"),
         url('../fonts/freight-sans-pro/semibold.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important;
    height: auto;
}

/* ---------------------------------------------------------------------
 HTML5 Elements
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template {
    display: none;
}

/* ---------------------------------------------------------------------
 Variables
------------------------------------------------------------------------ */
:root {
    --color-transparent: rgba(0,0,0,0);
    --color-white: #ffffff;
    --color-black: #000000;
    --color-charcoal: #0a0a0a;
    --color-alert: #ff0000;
    --color-alert-bg: #fff9f9;
    --color-brand-peacock: #1b8172;
    --color-brand-peacock-dark: #32645c;
    --color-brand-peacock-darkest: #254544;
    --color-brand-light: #d9d9d9;
    --color-brand-grey: #8c9093;
    --color-brand-dark-grey: #606566;
    --color-brand-gray: var(--color-brand-grey); /* Just in case */
    --color-brand-dark-gray: var(--color-brand-dark-grey); /* Just in case */
    --color-brand-dark: #001816;
    --color-brand-light-gradLight: #f2f2f2;
    --color-brand-light-gradDark: #bfbfbf;
    --color-brand-peacock-gradLight: #32645c;
    --color-brand-peacock-gradDark: #254544;
    --color-brand-peacock-dark-gradLight: #254544;
    --color-brand-peacock-dark-gradDark: #00181a;
    --fontFamily-sans: "FreightSansPro-Medium", Helvetica, Arial, sans-serif;
    --fontFamily-sans-bold: "FreightSansPro-SemiBold", Helvetica, Arial, sans-serif;
    --fontFamily-serif: "Bodoni72-Book", Georgia, Times, Times New Roman, serif;
    --fontSize-xxs: 14px;
    --fontSize-xs: 15px;
    --fontSize-sm: 16px;
    --fontSize-md: 18px;
    --fontSize-lg: 20px;
    --fontSize-xl: 24px;
    --fontSize-xxl: 32px;
    --fontSize-xxxl: 36px;
    --fontSize-mega: 72px;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
html {
    background-color: var(--color-charcoal);
}

body {
    min-height: 100vh;
    background-color: var(--color-white);
    color: var(--color-brand-dark);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-md);
    line-height: 1.55;
    font-style: normal;
    font-weight: normal;
    overflow-y: scroll;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.isLocked {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: var(--color-transparent);
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 Helper - isVisuallyHidden
------------------------------------------------------------------------ */
.isVisuallyHidden {
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    clip-path: inset(100%)!important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
}

/* ---------------------------------------------------------------------
 Helper - Display Types
------------------------------------------------------------------------ */
.isBlock {
    display: block;
}

.isInlineBlock {
    display: inline-block;
}

.isInline {
    display: inline;
}

/* ---------------------------------------------------------------------
 Helper - Break
------------------------------------------------------------------------ */
@media (min-width: 780px) {
    .break--whenSmall {
        display: none;
    }
}

/* ---------------------------------------------------------------------
 Helper - Video
------------------------------------------------------------------------ */
.has16x9Media {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.has16x9Media iframe,
.has16x9Media object,
.has16x9Media embed,
.has16x9Media img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.has16x9Media img {
    object-fit: scale-down;
}

/* ---------------------------------------------------------------------
 Landmark - Site (basically a sticky footer and sticky nav)
------------------------------------------------------------------------ */
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site__masthead {
    position: sticky;
    top: 0;
    z-index: 99999;
}

.site__hero {
    border-top: 10px solid var(--color-brand-peacock-dark);
}

.site__main {
    flex: 1;
}

.site__main--fullscreen {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-top: none;
    background-image: linear-gradient(to right, var(--color-brand-peacock-gradLight), var(--color-brand-peacock-gradDark));
}

.site__main__inner {
    flex: 1;
    text-align: center;
}

@media (min-width: 780px) {
    .site__hero--home { order: 5 !important; } /* shuffle order for homepage */
    .site__masthead { order: 10; }
    .site__hero { order: 20; }
    .site__main { order: 30; }
    .site__footer { order: 40; }
}

/* ---------------------------------------------------------------------
 Landmark - Masthead
------------------------------------------------------------------------ */
.masthead__brand > a {
    display: block;
}

.masthead__brand > a > img {
    display: block;
}

@media (max-width: 779px) {
    .masthead {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .masthead__brand {
        width: 208px; /* calculated height of contained image is 48 to match nav toggle button */
    }

    .masthead__brand > a {
        padding: 20px 0;
    }

    .masthead__nav {
        position: fixed;
        top: 28px;
        left: 0;
        right: 0;
        height: 0;
        padding: 20px;
        background-color: var(--color-brand-light);
        background-image: linear-gradient(90deg, var(--color-brand-light-gradLight) 0%, var(--color-brand-light-gradDark) 100%);
        overflow: hidden;
        visibility: hidden;
        transition: height 1s cubic-bezier(0.19, 1, 0.22, 1), 1s top, 1.5s visibility;
        z-index: -1;
        display: flex;
        flex-flow: column nowrap;
    }

    .masthead__nav.isVisible {
        top: 48px;
        height: calc(100% - 88px); /* top + p-bot + p-top */
        overflow: auto;
        visibility: visible;
    }

    .masthead__nav__primary {
        flex: 1;
    }

    .masthead__nav__primary a {
        display: block;

        /* actually useful once displayed */
        margin: 0 -20px; /* undo wrapper */
        padding: 0 20px; /* redo wrapper */
        height: 80px;
        line-height: 80px;
        color: var(--color-brand-dark);
        font-family: var(--fontFamily-serif);
        font-size: var(--fontSize-xxl);
    }

    .masthead__nav__primary a:hover,
    .masthead__nav__primary a:focus {
        color: var(--color-brand-peacock);
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 20px;
    }

    .masthead__nav__primary .current-menu-item a {
        color: var(--color-brand-peacock);
    }

    .masthead__nav__secondary {
        display: none;
    }

    .masthead__nav__social {
        padding: 10px 0;
    }

    .masthead__nav__social__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    .masthead__nav__social__list > li {
        padding: 0 5px;
    }

    .masthead__nav__legal {
        text-align: center;
    }

    /* transition into view */
    .masthead__nav__primary a,
    .masthead__nav__social a,
    .masthead__nav__legal {
        opacity: 0;
        transition: opacity 0.75s, background-color 0.2s;
    }

    .masthead__nav.isVisible .masthead__nav__primary a,
    .masthead__nav.isVisible .masthead__nav__social a,
    .masthead__nav.isVisible .masthead__nav__legal {
        opacity: 1;
    }

    /* toggle Styles */
    .masthead__toggle {
        width: calc(100% - 240px);
    }

    .masthead__toggle__icon {
        position: absolute;
        top: 0;
        right: -20px; /* undo wrapp padding */
        display: block;
        height: 68px;
        width: 48px;
    }

    .masthead__toggle__icon__bar {
        position: absolute;
        left: 10px;
        right: 20px;
        height: 1px;
        background-color: var(--color-brand-light);
        transition: transform 0.2s linear;
    }

    .masthead__toggle__icon__bar--top {
        top: 30px;
    }

    .masthead__toggle__icon__bar--bottom {
        bottom: 30px;
    }

    .masthead__toggle__icon[aria-expanded=true] .masthead__toggle__icon__bar--top {
        transform: rotate(45deg) translateY(5px);
    }

    .masthead__toggle__icon[aria-expanded=true] .masthead__toggle__icon__bar--bottom {
        transform: rotate(-45deg) translateY(-5px);
    }

}

@media (min-width: 780px) {
    .masthead {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 35px 0 20px 0;
        color: var(--color-brand-light);
    }

    .masthead__brand{
        width: 208px; /*220 later*/
    }

    .masthead__toggle,
    .masthead__nav__social,
    .masthead__nav__legal {
        display: none;
    }

    .masthead__nav {
        width: calc(100% - 208px);
    }

    .masthead__nav__primary__list {
        padding: 0 15px 0 30px;
    }

    .masthead__nav__primary__list li {
        display: inline-block;
        padding: 0 5px;
    }

    .masthead__nav__primary__list a {
        display: block;
        padding: 0 10px;
        height: 28px;
        line-height: 25px;
        font-family: var(--fontFamily-serif);
        font-size: var(--fontSize-md);
    }

    .masthead__nav__primary__list .isVisibleForMobile a {
        display: none;
    }

    .masthead__nav__primary__list .current-menu-item a {
        box-shadow: 0 0 0 2px var(--color-brand-peacock-dark);
    }

    .masthead__nav__secondary {
        position: absolute;
        top: 35px; /* magic number - matches top padding of masthead */
        right: -20px; /* undo wrapper */
        display: block;
        height: 28px;
    }

    .masthead__nav__secondary__list {
        line-height: 1;
    }

    .masthead__nav__secondary__list li {
        display: inline-block;
    }

    .masthead__nav__secondary__list a {
        display: block;
        height: 28px;
        line-height: 28px;
        font-family: var(--fontFamily-sans-bold);
        font-size: var(--fontSize-xs);
    }

    .masthead__nav__secondary__list li.portalLink a {
        margin-left: 20px;
        padding: 2px 16px;
        height: 24px;
        line-height: 24px;
        background-color: var(--color-brand-light);
        color: var(--color-brand-dark);
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .masthead__nav__secondary__list li:only-child {
        padding-right: 20px;
    }
}

@media (min-width: 860px) {
    .masthead__brand{
        width: 260px;
    }

    .masthead__toggle {
        display: none;
    }

    .masthead__nav {
        width: calc(100% - 260px);
    }

    .masthead__nav__primary__list a {
        padding: 0 12px;
        height: 35px;
        line-height: 31px;
        font-size: var(--fontSize-lg);
    }

    .masthead__nav__secondary {
        top: 35px; /* magic number - matches top padding of masthead */
        height: 35px;
    }

    .masthead__nav__secondary__list a {
        height: 35px;
        line-height: 35px;
    }
}

@media (min-width: 1000px) {
    .masthead__nav__primary__list {
        padding: 0 15px 0 60px;
    }
}

@media (min-width: 1170px) {
    .masthead__nav__secondary {
        right: 0;
    }
}

/* ---------------------------------------------------------------------
 Landmark - Footer
------------------------------------------------------------------------ */
.footer {
    padding: 20px 0;
    color: var(--color-brand-light);
}

.footer__social {
    padding: 20px 0;
}

.footer__social__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

.footer__social__list li {
    padding: 0 10px;
}

.footer__legal {
    text-align: center;
}

/* ---------------------------------------------------------------------
 Layout - Tier
------------------------------------------------------------------------ */
.tier {}

.tier--stripe {
    height: 20px;
}

.tier--white {
    background-color: var(--color-white);
}

.tier--light-gradient {
    background-image: linear-gradient(90deg, var(--color-brand-light-gradLight) 0%, var(--color-brand-light-gradDark) 100%);
}

.tier--peacock-gradient {
    background-color: var(--color-brand-peacock-gradLight);
    background-image: linear-gradient(90deg, var(--color-brand-peacock-gradLight) 0%, var(--color-brand-peacock-gradDark) 100%);
}

.tier--peacock-dark {
    background-color: var(--color-brand-peacock-dark);
}

.tier--peacock-dark-gradient {
    background-color: var(--color-brand-peacock-dark-gradLight);
    background-image: linear-gradient(110deg, var(--color-brand-peacock-dark-gradLight) 0%, var(--color-brand-peacock-dark-gradLight) 30%, var(--color-brand-peacock-dark-gradDark) 100%);
}

.tier--peacock-dark-media {
    /* background-image supplied inline */
    background-color: var(--color-brand-peacock-dark-gradLight); /* no bg image? text is still legible! */
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
}

/* ---------------------------------------------------------------------
 Layout - Mat
------------------------------------------------------------------------ */
.mat {
    padding: 40px 0;
}

.mat--noTop {
    padding-top: 0 !important;
}

.mat--sm {
    padding: 20px 0;
}

/* ---------------------------------------------------------------------
 Layout - Wrapper
------------------------------------------------------------------------ */
.wrapper {
    box-sizing: border-box;
    min-width: 320px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ---------------------------------------------------------------------
 Component - Hero
------------------------------------------------------------------------ */
.hero {
    position: relative;
    padding: 100px 0;
    color: var(--color-brand-light);
    text-align: center;
}

.hero--hasTitle {
    padding-top: 100px;
}

.hero__title {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
}

.hero__title__inner {
    padding-bottom: 15px; /* push pseudo element */
}

.hero__title::after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 50px;
    text-align: center;
    border-bottom: 1.5px solid var(--color-brand-grey);
}

.hero__bd {
    max-width: 300px;
    margin: 0 auto;
    padding: 30px 0;
}

@media (min-width: 860px) {
    .hero {
        padding: 150px 0;
    }

    .hero__title {
        top: 50px;
    }

    .hero__title__inner {
        padding-bottom: 20px; /* push pseudo element */
    }

    .hero__bd {
        max-width: 540px;
        padding: 40px 0;
    }
}

/* ---------------------------------------------------------------------
 Component - Region
------------------------------------------------------------------------ */
.region {}

.region__title {
    padding-bottom: 40px; /* matches padding-top from .mat so title is evenly spaced */
}

.region__title--noPush {
    padding-bottom: 20px;
}

.region__intro {
    padding-bottom: 40px;
}

.region__intro--noPush {
    padding-bottom: 0;
}

.region__bd {
    margin-bottom: 20px;
}

.region__bd--push {
    margin-bottom: 40px;
}

.region__bd--hasTeam {
    margin-bottom: 0;
}

.region__ft {
    text-align: center;
}

.region__cta {
    padding-top: 10px;
}

@media (min-width: 860px) {
    .region--inset {
        padding: 0 50px;
    }
}

/* ---------------------------------------------------------------------
 Component - Feature
------------------------------------------------------------------------ */
.feature {
    padding: 0 20px; /* keep thing away from the container edge */
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.feature--inset {
    padding: 0 30px;
}

.feature--hasDivider > *:last-child {
    margin-bottom: 40px !important;
}

.feature--hasDivider::after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 50px;
    text-align: center;
    border-bottom: 1.5px solid var(--color-brand-peacock-dark);
}

.feature__hd {
    margin-bottom: 20px;
}

.feature__hd--noPush {
    margin-bottom: 0;
}

.feature__ft {
    padding-top: 30px;
}

@media (min-width: 860px) {
    .feature {
        padding: 0; /* rely on max-width */
    }

    .feature--inset {
        padding: 0;
    }
}

/* ---------------------------------------------------------------------
 Component - Slab
------------------------------------------------------------------------ */
.slab {
    padding: 40px 20px;
    background-image: linear-gradient(90deg, var(--color-brand-light-gradLight) 0%, var(--color-brand-light-gradDark) 100%);
}

.slab--sm {
    padding: 20px;
}

.slab--special {
    padding-bottom: 0;
    background-color: var(--color-white);
    background-image: none;
}

/* ---------------------------------------------------------------------
 Component - Placard
------------------------------------------------------------------------ */
.placard {
    padding: 40px;
    color: var(--color-brand-light);
}

.placard__title {
    margin-bottom: 60px;
}

.placard__title__inner {
    padding-bottom: 20px; /* push the underline */
}

.placard__title::after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 50px;
    text-align: center;
    border-bottom: 1.5px solid var(--color-brand-grey);
}

.placard__bd {
    padding: 30px 0 50px;
}

/* ---------------------------------------------------------------------
 Component - Scroller
------------------------------------------------------------------------ */
.scroller {
    overflow: hidden;
    height: 420px;
}

.scroller__stage {
    overflow-x: scroll;
    overscroll-behavior-x: contain;
}

.scroller__stage__list {
    width: 100%;
    vertical-align: top;
    display: inline-flex;
    padding-left: max(20px,calc(calc(100vw - 1130px) / 2));
    padding-right: 0;
}

.scroller__stage__list__item {
    display: inline-block;
}

.scroller__stage__list__item__view {
    height: 440px; /* hide the scrollbar */
    margin-right: 20px;
}

.scroller__stage__list__item:last-child .scroller__stage__list__item__view {
    margin-right: max(20px,calc(calc(100vw - 1130px) / 2));
}

/* end scrolling pattern at 700px for 2up items */
@media (min-width: 700px) {
    .scroller[data-items="2"] {
        overflow: initial;
        height: initial;
    }

    .scroller[data-items="2"] .scroller__stage {
        overflow: initial;
        overscroll-behavior-x: initial;
    }

    .scroller[data-items="2"] .scroller__stage__list {
        width: 100%;
        padding: 0;
        vertical-align: initial;

        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .scroller[data-items="2"] .scroller__stage__list__item + .scroller__stage__list__item {
        padding-left: 20px;
    }

    .scroller[data-items="2"] .scroller__stage__list__item__view {
        height: auto;
        margin-right: 0 !important;
    }
}

/* end scrolling pattern at 1040px for 3up items */
@media (min-width: 1040px) {
    .scroller[data-items="3"] {
        overflow: initial;
        height: initial;
    }

    .scroller[data-items="3"] .scroller__stage {
        overflow: initial;
        overscroll-behavior-x: initial;
    }

    .scroller[data-items="3"] .scroller__stage__list {
        width: 100%;
        padding: 0;
        vertical-align: initial;

        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .scroller[data-items="3"] .scroller__stage__list__item + .scroller__stage__list__item {
        padding-left: 20px;
    }

    .scroller[data-items="3"] .scroller__stage__list__item__view {
        height: auto;
        margin-right: 0 !important;
    }
}

/* end scrolling pattern at 1380px for 4up items */
@media (min-width: 1380px) {
    .scroller[data-items="4"] {
        overflow: initial;
        height: initial;
    }

    .scroller[data-items="4"] .scroller__stage {
        overflow: initial;
        overscroll-behavior-x: initial;
    }

    .scroller[data-items="4"] .scroller__stage__list {
        width: 100%;
        padding: 0;
        vertical-align: initial;

        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .scroller[data-items="4"] .scroller__stage__list__item + .scroller__stage__list__item {
        padding-left: 20px;
    }

    .scroller[data-items="4"] .scroller__stage__list__item__view {
        height: auto;
        margin-right: 0 !important;
    }
}

/* end scrolling pattern at 1740px for 5up items */
@media (min-width: 1740px) {
    .scroller[data-items="5"] {
        overflow: initial;
        height: initial;
    }

    .scroller[data-items="5"] .scroller__stage {
        overflow: initial;
        overscroll-behavior-x: initial;
    }

    .scroller[data-items="5"] .scroller__stage__list {
        width: 100%;
        padding: 0;
        vertical-align: initial;

        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .scroller[data-items="5"] .scroller__stage__list__item + .scroller__stage__list__item {
        padding-left: 20px;
    }

    .scroller[data-items="5"] .scroller__stage__list__item__view {
        height: auto;
        margin-right: 0 !important;
    }
}

/* end scrolling pattern at 2080px for 6up items */
@media (min-width: 2080px) {
    .scroller[data-items="6"] {
        overflow: initial;
        height: initial;
    }

    .scroller[data-items="6"] .scroller__stage {
        overflow: initial;
        overscroll-behavior-x: initial;
    }

    .scroller[data-items="6"] .scroller__stage__list {
        width: 100%;
        padding: 0;
        vertical-align: initial;

        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .scroller[data-items="6"] .scroller__stage__list__item + .scroller__stage__list__item {
        padding-left: 20px;
    }

    .scroller[data-items="6"] .scroller__stage__list__item__view {
        height: auto;
        margin-right: 0 !important;
    }
}

/* ---------------------------------------------------------------------
 Component - Card
------------------------------------------------------------------------ */
.card {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    width: 320px;
    height: 400px;
    overflow: hidden; /* in case content is larger than dimensions */
    background-image: linear-gradient(90deg, var(--color-brand-light-gradLight) 0%, var(--color-brand-light-gradDark) 80%, var(--color-brand-light-gradDark) 100%);
    box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.3);
}

.card--pro {
    padding-bottom: 20px;
}

.card__label {
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: var(--color-brand-dark);
}

.card__label::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 35px;
    border-top: 15px solid transparent;
    border-left: 15px solid var(--color-brand-light-gradDark);
    border-bottom: 15px solid transparent;
}

.card__label::after {
    content: " ";
    position: absolute;
    top: 7px;
    right: 10px;
    width: 16px;
    height: 16px;
    background-color: var(--color-brand-light);
    -webkit-mask-image: url("../images/arrow-right.svg");
    -webkit-mask-position: center;
    -webkit-mask-size: 16px;
    mask-image: url("../images/arrow-right.svg");
    mask-position: center;
    mask-size: 16px;
}

/* funded variation */
.card--funded .card__label {
    background-image:
        linear-gradient(
            to right,
            var(--color-brand-grey) 0,
            var(--color-brand-grey) 20px,
            var(--color-transparent) 20px,
            var(--color-transparent) calc(100% - 50px),
            var(--color-brand-dark) calc(100% - 50px),
            var(--color-brand-dark) 100%
        );
}

/* completed variation */
.card--completed .card__label {
    background-image:
        linear-gradient(
            to right,
            var(--color-brand-peacock) 0,
            var(--color-brand-peacock) 20px,
            var(--color-brand-peacock-darkest) 20px,
            var(--color-brand-peacock-darkest) calc(100% - 50px),
            var(--color-brand-dark) calc(100% - 50px),
            var(--color-brand-dark) 100%
        );
    color: var(--color-brand-light);
}

.card--completed .card__label::before {
    border-left-color: var(--color-brand-peacock-darkest);
}

/* open variation */
.card--open .card__label {
    background-image:
        linear-gradient(
            to right,
            var(--color-brand-peacock-dark) 0,
            var(--color-brand-peacock-dark) 20px,
            var(--color-brand-peacock) 20px,
            var(--color-brand-peacock) calc(100% - 50px),
            var(--color-brand-dark) calc(100% - 50px),
            var(--color-brand-dark) 100%
        );    color: var(--color-white);
}

.card--open .card__label::before {
    border-left-color: var(--color-brand-peacock);
}

/* card guts */
.card__bd {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    flex: 1 1 auto;
    padding: 20px;
    background-color: var(--color-white);
}

.card--pro .card__bd {
    justify-content: flex-end;
}

.card__bd--dark {
    background-color: var(--color-brand-dark);
    color: var(--color-brand-light);
}

.card__bd--center {
    text-align: center;
}

.card__bd__content__hd {
    margin-bottom: 10px;
}

/* ---------------------------------------------------------------------
 Component - Yearbook
------------------------------------------------------------------------ */
.yearbook {}

.yearbook__item {
    padding: 20px 0;
}

.yearbook__item:last-child {
    padding-bottom: 0;
}

/* ---------------------------------------------------------------------
 Component - Frame
------------------------------------------------------------------------ */
.frame__media {
    padding: 20px 20px 0 20px;
    background-color: var(--color-brand-light-gradLight);
    background-image: linear-gradient(to right, var(--color-brand-light-gradDark), var(--color-brand-light-gradLight));
    text-align: center;
}

.frame__media > img {
    display: inline-block;
}

.frame__content__hd {
    padding: 10px 20px 4px 20px;
    background-color: var(--color-brand-light);
    background-image: linear-gradient(to right, var(--color-brand-light-gradDark), var(--color-brand-light-gradLight));
    text-align: center;
}

.frame__content__subhd {
    padding: 0 20px 20px 20px;
    background-color: var(--color-brand-light);
    background-image: linear-gradient(to right, var(--color-brand-light-gradDark), var(--color-brand-light-gradLight));
    text-align: center;
    border-bottom: 20px solid;
    border-image: linear-gradient(to left, var(--color-brand-peacock-dark) 50%, var(--color-brand-dark) 50%) 2;
}

.frame__content__bd {
    padding: 20px 5px 0 5px;
}

@media (min-width: 860px) {
    .frame {
        position: relative;
        padding: 20px;
    }

    .frame::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 140px;
        background-color: var(--color-brand-light);
        background-image: linear-gradient(to right, var(--color-brand-light-gradDark), var(--color-brand-light-gradLight));
        border-bottom: 20px solid;
        border-image: linear-gradient(to right, var(--color-brand-dark) calc(calc(calc(100% - 320px) / 2) + 320px), var(--color-brand-peacock-dark) calc(calc(calc(100% - 320px) / 2) + 320px)) 2;
    }

    .frame__media {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 300px;
        padding: 0;
        background-color: transparent;
        background-image: none;
        text-align: initial;
        z-index: 1;
    }

    .frame__content {
        position: relative;
        padding: 0 20px 0 330px;
        z-index: 1;
    }

    .frame__content__hd {
        padding: 30px 0 0 0;
        background-color: transparent;
        background-image: none;
        text-align: center;
    }

    .frame__content__subhd {
        padding: 0 0 80px 0;
        background-color: transparent;
        background-image: none;
        text-align: center;
        border-bottom: none;
        border-image: none;
    }

    .frame__content__bd {
        padding: 0;
    }
}

@media (min-width: 1000px) {
    .frame::after {
        border-image: linear-gradient(to right, var(--color-brand-dark) calc(calc(calc(100% - 420px) / 2) + 420px), var(--color-brand-peacock-dark) calc(calc(calc(100% - 420px) / 2) + 420px)) 2;
    }

    .frame__media {
        width: 400px;
    }

    .frame__content {
        padding-left: 430px;
    }
}

/* ---------------------------------------------------------------------
 Component - Note
------------------------------------------------------------------------ */
.note {
    display: flex;
    flex-flow: column nowrap;
}

.note__hd {
    order: 2;
}

.note__subhd {
    order: 3;
    margin-bottom: 30px;
}

.note__meta {
    order: 1;
    margin-bottom: 10px;
}

.note__bd {
    order: 4;
}

/* ---------------------------------------------------------------------
 Component - Gallery
------------------------------------------------------------------------ */
.gallery {}

.gallery__stage {
    position: relative;
}

.gallery__stage__controls {
    display: none;
}

.gallery__stage__item {
    display: none;
}

.gallery__stage__item.isActive,
.gallery__stage__item:only-child {
    display: block;
}

.gallery__stage__item--iframe {
    /* set background color since sensara embeds are transparent */
    background-color: var(--color-brand-light);
}

.gallery__thumbs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery__thumbs__item {
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
}

.gallery__thumbs__item a {
    display: block;
}

.gallery__thumbs__item a.isActive {
    box-shadow: 0 0 0 2px var(--color-brand-peacock);
}

.gallery__thumbs__item + .gallery__thumbs__item {
    padding-left: 10px;
}

.gallery__meta {
    text-align: center;
    padding-top: 20px;
}

.gallery__meta__caption__item {
    display: none;
}

.gallery__meta__caption__item.isActive,
.gallery__meta__caption__item:only-child {
    display: inline;
}

@media (min-width: 780px) {
    .gallery__thumbs__item {
        width: 60px;
        height: 60px;
        padding-bottom: 15px;
    }

    .gallery__stage {
        margin: 0 80px;
    }

    .gallery__stage__controls {
        display: block;
    }

    .gallery__stage__controls__item {
        position: absolute;
        top: calc(50% - 20px); /* subtract half the height of the control */
    }

    .gallery__stage__controls__item--prev {
        left: -70px;
    }

    .gallery__stage__controls__item--next {
        right: -70px;
    }

    .gallery__stage__controls__item__btn {
        all: unset;
        display: block;
        height: 40px;
        width: 40px;
        cursor: pointer;
        -webkit-mask-position: center;
        -webkit-mask-size: 40px;
        mask-position: center;
        mask-size: auto 40px;
        background-color: var(--color-brand-grey);
    }

    .gallery__stage__controls__item--prev .gallery__stage__controls__item__btn {
        -webkit-mask-image: url("../images/arrow-left.svg");
        mask-image: url("../images/arrow-left.svg");
    }

    .gallery__stage__controls__item--next .gallery__stage__controls__item__btn {
        -webkit-mask-image: url("../images/arrow-right.svg");
        mask-image: url("../images/arrow-right.svg");
    }
}

/* ---------------------------------------------------------------------
 Component - Title
------------------------------------------------------------------------ */
.title {
    position: relative;
    height: 40px;
    line-height: 35px;
    text-align: center;
}

.title::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    -webkit-mask-image: url("../images/bg-title.svg");
    -webkit-mask-position: center center;
    -webkit-mask-size: auto 40px;
    mask-image: url("../images/bg-title.svg");
    mask-position: center center;
    mask-size: auto 40px;
    background-color: var(--color-brand-dark);
}

.title--inverted::before {
    background-color: var(--color-brand-light);
}

/* ---------------------------------------------------------------------
 Component - Tag
------------------------------------------------------------------------ */
.tag {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.tag--funded {
    background-color: var(--color-brand-grey);
    color: var(--color-brand-dark);
}

.tag--completed {
    background-color: var(--color-brand-peacock-dark);
    background-image: linear-gradient(to right, var(--color-brand-peacock-gradLight), var(--color-brand-peacock-gradDark));
    color: var(--color-brand-light);
}

.tag--open {
    background-color: var(--color-brand-peacock);
    color: var(--color-white);
}

/* ---------------------------------------------------------------------
 Component - Forms
------------------------------------------------------------------------ */
.form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form__intro {
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 860px) {
    .form {
        padding: 30px;
    }

    .form__intro {
        padding: 0 80px;
        margin-bottom: 30px
    }
}

/* ---------------------------------------------------------------------
 Content - Button
------------------------------------------------------------------------ */
.btn {
    all: unset;
    position: relative;
    display: inline-block;
    height: 34px;
    padding: 0 30px 0 14px;
    border-color: var(--color-brand-dark);
    border-style: solid;
    border-width: 2px 20px;
    background-color: var(--color-brand-peacock-dark);
    color: var(--color-brand-light);
    font-family: var(--fontFamily-sans-bold);
    font-size: 15px;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.24s ease-in-out;
}

.btn::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -18px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-right: 18px solid var(--color-brand-peacock-dark);
    border-bottom: 17px solid transparent;
    transition: all 0.24s ease-in-out;
}

.btn::after {
    content: " ";
    position: absolute;
    top: 0;
    right: -18px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-left: 18px solid var(--color-brand-peacock-dark);
    border-bottom: 17px solid transparent;
    transition: all 0.24s ease-in-out;
}

.btn__icon {
    position: absolute;
    top: calc(50% - 8px);
    right: 0;
    height: 16px;
    width: 16px;
    -webkit-mask-image: url("../images/arrow-right.svg");
    mask-image: url("../images/arrow-right.svg");
    background-color: var(--color-brand-light);
}

.btn--light {
    background-color: var(--color-brand-light);
    color: var(--color-brand-dark);
    border-color: var(--color-brand-peacock-dark);
}

.btn--light::before {
    border-right-color: var(--color-brand-light);
}

.btn--light::after {
    border-left-color: var(--color-brand-light);
}

.btn--inverted {
    background-color: var(--color-brand-peacock);
    color: var(--color-brand-light);
    border-color: var(--color-brand-light);
}

.btn--inverted::before {
    border-right-color: var(--color-brand-peacock);
}

.btn--inverted::after {
    border-left-color: var(--color-brand-peacock);
}

.btn--light .btn__icon {
    background-color: var(--color-brand-dark);
}

.btn:hover {
    background-color: var(--color-brand-peacock);
}

.btn:hover::before {
    border-right-color: var(--color-brand-peacock);
}

.btn:hover::after {
    border-left-color: var(--color-brand-peacock);
}

.btn--light:hover {
    background-color: var(--color-white);
}

.btn--light:hover::before {
    border-right-color: var(--color-white);
}

.btn--light:hover::after {
    border-left-color: var(--color-white);
}

.btn--inverted:hover {
    background-color: var(--color-brand-peacock-dark);
}

.btn--inverted:hover::before {
    border-right-color: var(--color-brand-peacock-dark);
}

.btn--inverted:hover::after {
    border-left-color: var(--color-brand-peacock-dark);
}

/* ---------------------------------------------------------------------
 Content - Social Icon
------------------------------------------------------------------------ */
.socialIcon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(90deg, var(--color-brand-peacock-gradLight) 0%, var(--color-brand-peacock-gradDark) 100%);
    -webkit-mask-position: center center;
    -webkit-mask-size: 40px 40px;
    mask-position: center center;
    mask-size: 40px 40px;
}

.socialIcon--isLight {
    background-image: linear-gradient(90deg, var(--color-brand-light-gradLight) 0%, var(--color-brand-light-gradDark) 100%);
}

.socialIcon--linkedin {
    -webkit-mask-image: url("../images/icon-linkedin.svg");
    mask-image: url("../images/icon-linkedin.svg");
}

.socialIcon--facebook {
    -webkit-mask-image: url("../images/icon-facebook.svg");
    mask-image: url("../images/icon-facebook.svg");
}

.socialIcon--twitter {
    -webkit-mask-image: url("../images/icon-twitter.svg");
    mask-image: url("../images/icon-twitter.svg");
}

a.hasSocialIcon {
    display: inline-block;
    width: 40px;
    height: 40px;
}

a.hasSocialIcon:hover .socialIcon {
    background-image: linear-gradient(90deg, var(--color-brand-peacock) 0%, var(--color-brand-peacock) 100%);
}

/* ---------------------------------------------------------------------
 Content - Text
------------------------------------------------------------------------ */
.txt {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.55;
    font-style: normal;
    font-weight: normal;
    text-transform: inherit;
}

/* Treatments */
.txt--hero {
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-xxxl);
    line-height: 1.1;
}

.txt--heroSub {
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-md);
    line-height: 1.3;
}

.txt--title {
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-lg);
    line-height: inherit; /* set in .title */
    color: var(--color-brand-peacock-dark);
}

.txt--hdg {
    font-family: var(--fontFamily-sans-bold);
    font-size: var(--fontSize-md);
    line-height: 1.3;
    color: var(--color-brand-peacock);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.txt--card-hdg {
    font-family: var(--fontFamily-sans-bold);
    font-size: var(--fontSize-lg);
    line-height: 1.3;
    color: var(--color-brand-dark);
}

.txt--card-hdg2 {
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-sm);
    line-height: 1.3;
    color: var(--color-brand-dark-grey);
}

.txt--label {
    font-family: var(--fontFamily-sans-bold);
    font-size: var(--fontSize-sm);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: inherit; /* set by container */
}

.txt--body {
    font-family: var(--fontFamily-serif);
    font-size: var(--fontSize-md);
    line-height: 1.3;
}

.txt--body2 {
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-sm);
    line-height: 1.3;
}

.txt--legal {
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-xxs);
}

@media (min-width: 860px) {
    .txt--hero {
        font-family: var(--fontFamily-serif);
        font-size: var(--fontSize-mega);
    }

    .txt--heroSub {
        font-size: var(--fontSize-lg);
    }

    .txt--hdg {
        font-size: var(--fontSize-xl);
    }

    .txt--card-hdg {
        font-size: var(--fontSize-xl);
    }

    .txt--card-hdg2 {
        font-size: var(--fontSize-md);
    }

    .txt--body {
        font-size: var(--fontSize-lg);
        line-height: 1.5;
    }

    .txt--legal {
        font-size: var(--fontSize-xs);
    }

}

/* Mix'n'Match */
.txt--color-white { color: var(--color-white); }
.txt--color-black { color: var(--color-black); }
.txt--color-brand-peacock { color: var(--color-brand-peacock); }
.txt--color-brand-light { color: var(--color-brand-light); }
.txt--color-brand-grey { color: var(--color-brand-grey); }
.txt--color-brand-dark { color: var(--color-brand-dark); }

.txt--family-serif { font-family: var(--fontFamily-serif); }
.txt--family-sans { font-family: var(--fontFamily-sans); }

.txt--size-xxs { font-size: var(--fontSize-xxs); }
.txt--size-xs { font-size: var(--fontSize-xs); }
.txt--size-sm { font-size: var(--fontSize-sm); }
.txt--size-md { font-size: var(--fontSize-md); }
.txt--size-lg { font-size: var(--fontSize-lg); }
.txt--size-xl { font-size: var(--fontSize-xl); }
.txt--size-xxl { font-size: var(--fontSize-xl); }

.txt--underline { text-decoration: underline; }
.txt--bold { font-weight: bold; }
.txt--italic { font-style: italic; }
.txt--center { text-align: center; }
.txt--upper { text-transform: uppercase; }

.txt--truncated {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.txt--highlightLinks a {
    color: var(--color-brand-peacock);
    text-decoration: underline;
}

/* ---------------------------------------------------------------------
 Gravity Forms
------------------------------------------------------------------------ */
.gfield {
    padding-bottom: 16px;
}

.gfield_label {
    display: inline-block;
    width: 100%;
    padding-bottom: 4px;
}

.gform_fields input[type=text],
.gform_fields input[type=email],
.gform_fields input[type=tel] {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 12px;
    border: none;
    background-color: var(--color-white);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-sm);
    line-height: normal;
    font-weight: normal;
    color: var(--color-brand-dark);
}

.gform_fields textarea {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    padding: 8px 12px;
    border: none;
    background-color: var(--color-white);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-sm);
    line-height: normal;
    font-weight: normal;
    color: var(--color-brand-dark);
}

.gfield_required {
    color: var(--color-alert);
    padding-left: 2px;
}

.gform_footer {
    padding: 20px 0 10px 0;
    text-align: center;
}

.gform_submission_error.hide_summary {
    display: none;
}

.gform_wrapper .gfield_validation_message {
    padding: 3px 0 6px 0;
    color: var(--color-alert);
}

.gform_wrapper .instruction.validation_message {
    display: none;
}

.gform_fields input[type=text][aria-invalid=true],
.gform_fields input[type=email][aria-invalid=true],
.gform_fields input[type=tel][aria-invalid=true],
.gform_fields textarea[aria-invalid=true] {
    border: 1px solid var(--color-alert);
}

.gform_footer .btn {
    vertical-align: middle;
}

.gform_ajax_spinner {
    box-sizing: border-box;
    margin-left: 10px;
    border: 3px dotted var(--color-brand-peacock);
    animation: spinner 1.1s infinite linear;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
f
